* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    background-color: #09f;
    color: #ddd;
    font-size: 17px;
    font-weight: 1000;
}
header li{
    list-style-type: none;
}
header a{
    text-decoration: none;
    color: #ddd;
}

.navigationbar{
    text-decoration: none;
}
.navigationbar li{
    display: inline-block;
    padding: 0px 20px;
}
.navigationbar li a{
    transition: all 0.3s ease 0s;
}
.navigationbar li a:hover{
    color: #87CEEB;
}
.navigationbar li a.active{
    color: #f60;
}

button{
    padding: 9px 25px;
    background-color: #f60;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ddd;
    font-size: 17px;
}
button:hover{
    color: #87CEEB;
}

span{
    cursor: pointer;
}

body{
    background-color: #FFFDD0;
}

.container {
    display: flex;
    align-items: center;
  }
.text{
    padding-left: 20px;
    font-size: 20px;
    margin-right: 10px;
}

footer{
    background-color: #09f;
    padding: 45px 5%;  
    display: flex;
    align-items: center;
}
i {
    margin-right: 20px;
}
.image{
    padding-left: 20px;
    padding-right: 10px;
}
.text h1{
    color: #09f;
}
.text p{
    color: #f60;
}
.about h1{
    text-align: center;
    color: #09f;
    text-decoration: underline;
    text-decoration-color: #f60;
    margin-left: 0px;
}
.about {
    margin-left: 10px;
}
.about h3{
    color: #f60;
    font-weight: bolder;
}
.about a{
    text-decoration: none;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
